
*.csv
*.csv
*.xlsx
*.rdx
*.rdb
*.RData
*.pdf
*.rds
.Rhistory
.Rproj.user/0FFA9A9B/pcs/files-pane.pper
.Rproj.user/0FFA9A9B/pcs/source-pane.pper
.Rproj.user/0FFA9A9B/pcs/windowlayoutstate.pper
.Rproj.user/0FFA9A9B/pcs/workbench-pane.pper
.Rproj.user/0FFA9A9B/rmd-outputs
.Rproj.user/0FFA9A9B/saved_source_markers
.Rproj.user/0FFA9A9B/sources/prop/044C4125
.Rproj.user/0FFA9A9B/sources/prop/1054BFBF
.Rproj.user/0FFA9A9B/sources/prop/1F6380AC
.Rproj.user/0FFA9A9B/sources/prop/26E8FE8C
.Rproj.user/0FFA9A9B/sources/prop/2F7EA9C7
.Rproj.user/0FFA9A9B/sources/prop/30555958
.Rproj.user/0FFA9A9B/sources/prop/58EBB035
.Rproj.user/0FFA9A9B/sources/prop/6C58BF90
.Rproj.user/0FFA9A9B/sources/prop/6DB664EF
.Rproj.user/0FFA9A9B/sources/prop/7508DAD3
.Rproj.user/0FFA9A9B/sources/prop/836F7D4B
.Rproj.user/0FFA9A9B/sources/prop/9D41AA4A
.Rproj.user/0FFA9A9B/sources/prop/A321B182
.Rproj.user/0FFA9A9B/sources/prop/C5A7C627
.Rproj.user/0FFA9A9B/sources/prop/C76B6224
.Rproj.user/0FFA9A9B/sources/prop/C98C1A75
.Rproj.user/0FFA9A9B/sources/prop/D2169DCF
.Rproj.user/0FFA9A9B/sources/prop/D3EF3A75
.Rproj.user/0FFA9A9B/sources/prop/E8D94931
.Rproj.user/0FFA9A9B/sources/prop/FB14387E
.Rproj.user/0FFA9A9B/sources/prop/INDEX
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/0281A748
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/0281A748-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/02D46486
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/02D46486-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/02ED0647-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/0363553F-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/0555B224-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/0624CDFA-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/0E989733-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/0FB4FAA0-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/11B28477-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/136C1BD2
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/136C1BD2-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/159EAE64-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/166B1F89-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/1B1280D5-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/1B19B667
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/1B19B667-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/20E10B4F-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/23559E74-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/2B785736-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/3669BF33-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/4A23EFFD-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/4BB7A2F0-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/4D809B7E-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/5013DDCB-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/59192F14
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/59192F14-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/5BD6E7D4-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/5F5EDCC6
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/5F5EDCC6-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/60FC7454-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/61F1E96E-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/62CA30B1-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/66F7F1B4-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/66FAD56B-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/68094D72-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/68172564-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/6CF0048D-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/6D12982D-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/6D6327B2
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/6D6327B2-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/702B1CE3-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/705FD759-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/7118A190-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/73E39584-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/851A6757-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/8595D4DD-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/8C82617B-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/9309186F-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/94B8FBD6-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/96DA9CF6-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/9B86CECC-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/9E8FCDBC-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/A28A2E03-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/A406A67C-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/B30A65BF-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/BF2FEAF3-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/BF55756A-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/C306ED35-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/C631A40E-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/C92DF822-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/CD87FA80-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/D4A6E6BA-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/D69BC50B-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/D7C211FD-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/DD797EAD-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/EC2DAD07-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/F4356367-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/F6DB1B1C-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/F9E2FE5B-contents
.Rproj.user/0FFA9A9B/sources/s-760CDFB8/lock_file
.Rproj.user/2475E142/pcs/files-pane.pper
.Rproj.user/2475E142/pcs/source-pane.pper
.Rproj.user/2475E142/pcs/windowlayoutstate.pper
.Rproj.user/2475E142/pcs/workbench-pane.pper
.Rproj.user/2475E142/rmd-outputs
.Rproj.user/2475E142/saved_source_markers
.Rproj.user/613DB55D/pcs/files-pane.pper
.Rproj.user/613DB55D/pcs/source-pane.pper
.Rproj.user/613DB55D/pcs/windowlayoutstate.pper
.Rproj.user/613DB55D/pcs/workbench-pane.pper
.Rproj.user/613DB55D/rmd-outputs
.Rproj.user/613DB55D/saved_source_markers
.Rproj.user/613DB55D/sources/per/t/25D3F894
.Rproj.user/613DB55D/sources/per/t/25D3F894-contents
.Rproj.user/613DB55D/sources/per/t/387BC973
.Rproj.user/613DB55D/sources/per/t/387BC973-contents
.Rproj.user/613DB55D/sources/per/t/3F400786
.Rproj.user/613DB55D/sources/per/t/3F400786-contents
.Rproj.user/613DB55D/sources/per/t/73C34098
.Rproj.user/613DB55D/sources/per/t/73C34098-contents
.Rproj.user/613DB55D/sources/per/t/7963938A
.Rproj.user/613DB55D/sources/per/t/7963938A-contents
.Rproj.user/613DB55D/sources/per/t/CC574485
.Rproj.user/613DB55D/sources/per/t/CC574485-contents
.Rproj.user/613DB55D/sources/prop/12251813
.Rproj.user/613DB55D/sources/prop/1ED4430
.Rproj.user/613DB55D/sources/prop/2C45CF20
.Rproj.user/613DB55D/sources/prop/3395F44B
.Rproj.user/613DB55D/sources/prop/376CBF97
.Rproj.user/613DB55D/sources/prop/37A4860
.Rproj.user/613DB55D/sources/prop/39BF2F9
.Rproj.user/613DB55D/sources/prop/3EAD5333
.Rproj.user/613DB55D/sources/prop/4FBE822D
.Rproj.user/613DB55D/sources/prop/5206A4BC
.Rproj.user/613DB55D/sources/prop/5F488EA1
.Rproj.user/613DB55D/sources/prop/6B900842
.Rproj.user/613DB55D/sources/prop/70A0ABF1
.Rproj.user/613DB55D/sources/prop/744DF18A
.Rproj.user/613DB55D/sources/prop/74CD487B
.Rproj.user/613DB55D/sources/prop/758E1397
.Rproj.user/613DB55D/sources/prop/7ACB4E0E
.Rproj.user/613DB55D/sources/prop/7EB7597B
.Rproj.user/613DB55D/sources/prop/82260365
.Rproj.user/613DB55D/sources/prop/83AA68E1
.Rproj.user/613DB55D/sources/prop/8880C16A
.Rproj.user/613DB55D/sources/prop/8E0F36FF
.Rproj.user/613DB55D/sources/prop/A4C9D45B
.Rproj.user/613DB55D/sources/prop/A932359A
.Rproj.user/613DB55D/sources/prop/AA01780D
.Rproj.user/613DB55D/sources/prop/BA4DB4CA
.Rproj.user/613DB55D/sources/prop/BB54FC89
.Rproj.user/613DB55D/sources/prop/BBD2B35E
.Rproj.user/613DB55D/sources/prop/BC727D46
.Rproj.user/613DB55D/sources/prop/C08AAECC
.Rproj.user/613DB55D/sources/prop/C70410D6
.Rproj.user/613DB55D/sources/prop/CD18EB14
.Rproj.user/613DB55D/sources/prop/CE93799A
.Rproj.user/613DB55D/sources/prop/D6BCEC7B
.Rproj.user/613DB55D/sources/prop/D97E617D
.Rproj.user/613DB55D/sources/prop/E2C2D69B
.Rproj.user/613DB55D/sources/prop/E571116C
.Rproj.user/613DB55D/sources/prop/EAB4DA1F
.Rproj.user/613DB55D/sources/prop/EEAA14D
.Rproj.user/613DB55D/sources/prop/EF07482D
.Rproj.user/613DB55D/sources/prop/EF7B2AD2
.Rproj.user/613DB55D/sources/prop/EFCE336F
.Rproj.user/613DB55D/sources/prop/F25670A7
.Rproj.user/613DB55D/sources/prop/FB6E2352
.Rproj.user/613DB55D/sources/prop/INDEX
.Rproj.user/613DB55D/sources/s-24D84E53/110D9662-contents
.Rproj.user/613DB55D/sources/s-24D84E53/12A104D7-contents
.Rproj.user/613DB55D/sources/s-24D84E53/143C7AA7-contents
.Rproj.user/613DB55D/sources/s-24D84E53/1C5BF480-contents
.Rproj.user/613DB55D/sources/s-24D84E53/416C5993-contents
.Rproj.user/613DB55D/sources/s-24D84E53/4E776407-contents
.Rproj.user/613DB55D/sources/s-24D84E53/504DADC2-contents
.Rproj.user/613DB55D/sources/s-24D84E53/50DE9044-contents
.Rproj.user/613DB55D/sources/s-24D84E53/5D70E04-contents
.Rproj.user/613DB55D/sources/s-24D84E53/6B86419F-contents
.Rproj.user/613DB55D/sources/s-24D84E53/6C50E063
.Rproj.user/613DB55D/sources/s-24D84E53/6C50E063-contents
.Rproj.user/613DB55D/sources/s-24D84E53/A1778C8B-contents
.Rproj.user/613DB55D/sources/s-24D84E53/B6C64896-contents
.Rproj.user/613DB55D/sources/s-24D84E53/BB6FB929-contents
.Rproj.user/613DB55D/sources/s-24D84E53/BDF520F1
.Rproj.user/613DB55D/sources/s-24D84E53/BDF520F1-contents
.Rproj.user/613DB55D/sources/s-24D84E53/D1AA555A
.Rproj.user/613DB55D/sources/s-24D84E53/D1AA555A-contents
.Rproj.user/613DB55D/sources/s-24D84E53/D2C57E80
.Rproj.user/613DB55D/sources/s-24D84E53/D2C57E80-contents
.Rproj.user/613DB55D/sources/s-24D84E53/D9069EF4-contents
.Rproj.user/613DB55D/sources/s-24D84E53/E59BE8F6-contents
.Rproj.user/DAA9B5B0/pcs/files-pane.pper
.Rproj.user/DAA9B5B0/pcs/source-pane.pper
.Rproj.user/DAA9B5B0/pcs/windowlayoutstate.pper
.Rproj.user/DAA9B5B0/pcs/workbench-pane.pper
.Rproj.user/DAA9B5B0/rmd-outputs
.Rproj.user/DAA9B5B0/saved_source_markers
.Rproj.user/DAA9B5B0/sources/per/t/157DDE97
.Rproj.user/DAA9B5B0/sources/per/t/157DDE97-contents
.Rproj.user/DAA9B5B0/sources/per/t/BC8AE25D
.Rproj.user/DAA9B5B0/sources/per/t/BC8AE25D-contents
.Rproj.user/DAA9B5B0/sources/per/t/FC2B67E5
.Rproj.user/DAA9B5B0/sources/per/t/FC2B67E5-contents
.Rproj.user/DAA9B5B0/sources/prop/54FE7B6
.Rproj.user/DAA9B5B0/sources/prop/5911B33B
.Rproj.user/DAA9B5B0/sources/prop/7925897C
.Rproj.user/DAA9B5B0/sources/prop/F8B91A9D
.Rproj.user/DAA9B5B0/sources/prop/INDEX
.Rproj.user/E4064453/jobs/C5539DD2-output.json
.Rproj.user/E4064453/pcs/files-pane.pper
.Rproj.user/E4064453/pcs/source-pane.pper
.Rproj.user/E4064453/pcs/windowlayoutstate.pper
.Rproj.user/E4064453/pcs/workbench-pane.pper
.Rproj.user/E4064453/rmd-outputs
.Rproj.user/E4064453/saved_source_markers
.Rproj.user/E4064453/sources/per/t/5230F882
.Rproj.user/E4064453/sources/per/t/5230F882-contents
.Rproj.user/E4064453/sources/per/t/52DB9017
.Rproj.user/E4064453/sources/per/t/52DB9017-contents
.Rproj.user/E4064453/sources/per/t/56C1CD85
.Rproj.user/E4064453/sources/per/t/56C1CD85-contents
.Rproj.user/E4064453/sources/per/t/8BFFDF31
.Rproj.user/E4064453/sources/per/t/8BFFDF31-contents
.Rproj.user/E4064453/sources/per/t/AE733A78
.Rproj.user/E4064453/sources/per/t/AE733A78-contents
.Rproj.user/E4064453/sources/per/t/B6DCE8F2
.Rproj.user/E4064453/sources/per/t/B6DCE8F2-contents
.Rproj.user/E4064453/sources/prop/10406024
.Rproj.user/E4064453/sources/prop/4E1B8D1E
.Rproj.user/E4064453/sources/prop/6DD0A147
.Rproj.user/E4064453/sources/prop/917D9734
.Rproj.user/E4064453/sources/prop/E1AF4718
.Rproj.user/E4064453/sources/prop/F6CAFD00
.Rproj.user/E4064453/sources/prop/F9F8D1DD
.Rproj.user/E4064453/sources/prop/INDEX
.Rproj.user/shared/notebooks/4CAE52B5-OSCC_model/1/E40644537C7D1E84/chunks.json
.Rproj.user/shared/notebooks/4CAE52B5-OSCC_model/1/E4064453B0A72692/chunks.json
.Rproj.user/shared/notebooks/4CAE52B5-OSCC_model/1/s/chunks.json
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/paths (與 DELL-INSPIRON15 衝突的複本 2021-08-08)
*.Rproj
*.json
.Rproj.user/E4064453/sources/s-79217A84/lock_file
.Rproj.user/E4064453/sources/s-79217A84/B6DCE8F2-contents
.Rproj.user/E4064453/sources/s-79217A84/B6DCE8F2
.Rproj.user/E4064453/sources/s-79217A84/AE733A78-contents
.Rproj.user/E4064453/sources/s-79217A84/AE733A78
.Rproj.user/E4064453/sources/s-79217A84/8BFFDF31-contents
.Rproj.user/E4064453/sources/s-79217A84/8BFFDF31
.Rproj.user/E4064453/sources/s-79217A84/56C1CD85-contents
.Rproj.user/E4064453/sources/s-79217A84/56C1CD85
.Rproj.user/E4064453/sources/s-79217A84/52DB9017-contents
.Rproj.user/E4064453/sources/s-79217A84/52DB9017
.Rproj.user/E4064453/sources/s-79217A84/5230F882-contents
.Rproj.user/E4064453/sources/s-79217A84/5230F882
.Rproj.user/E4064453/sources/prop/F43EC97B
.Rproj.user/E4064453/sources/prop/B65D1C3B
.Rproj.user/E4064453/sources/prop/8984B7DC
.Rproj.user/E4064453/sources/prop/2433A758
